#sf_job_logs table {
width: 100%;
margin-top: 3em;
}

#sf_job_logs tr {
margin: 0;
padding: 2px;
border-right: 1px #ddd solid;
}

#sf_job_logs tr td {
margin: 0;
padding: 3px;
background-color: #f8f8f8;
border-left: 1px #ddd solid;
border-bottom: 2px #ddd solid;
}

#sf_job_logs tr td:last-element {
border-right: 1px #ddd solid;
}

#sf_job_logs tr th {
padding: 4px;
text-align: left;
background-color: #ccccff;
border-bottom: 2px #ddd solid;
}

#sf_job_logs tr.err td {
color: #f00;
background-color: #fcc;
}

